# Jest coverage
coverage/

# Default build folder
dist/

# Tooling generated config
.vscode/

# Default resources folder
src/client/resources/

# Bulma minified style
src/client/modules/ui/bulma/

# Prevent LWC bug with <hr/> self closing void element (skip heaeder component)
src/client/modules/ui/header/header.html