<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>E-Bikes Manufacturing</title>
        <style>
            html,
            body {
                height: 100%;
                background-color: rgba(245, 245, 245);
            }
            body {
                font-family: Helvetica, Arial, sans-serif;
                margin: 0;
                padding: 0;
                overflow-x: hidden;
            }
        </style>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="shortcut icon" href="$assetsDir/favicon.ico" />
        <link rel="stylesheet" href="$assetsDir/dependencies/bulma.min.css" />
    </head>
    <body>
        {{{body}}} {{{lwr_resources}}}
    </body>
</html>
